@use "variables" as *;

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

.section-padding {
  padding: 4rem 0;
}

.text-muted-light {
  color: $text-muted-light;
}

.text-muted-dark {
  color: $text-muted-dark;
}
