@use "variables" as *;

.bg-brand {
  background-color: $bg-accent;
  color: $text-light;
}

.bg-alt {
  background-color: $bg-alt;
}

.logo-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $bg-alt;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain; // shows full logo, no aggressive crop
  }
}

.navbar .nav-title {
  color: $color-brand;
}

.navbar .nav-link {
  color: $text-light;

  &:hover {
    color: $color-brand;
  }
}

.navbar .nav-link.active {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 6px;
}
