@use "variables" as *;

.bg-brand {
  background-color: $bg-accent;
  color: $text-light;
}

.bg-alt {
  background-color: $bg-alt;
}

.navbar .nav-link {
  color: $text-light;

  &:hover {
    color: $color-brand;
  }
}

.navbar .nav-link.active {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 6px;
}
