@use "variables" as *;

.bg-brand {
  background-color: $bg-accent;
  color: $text-light;
}

.bg-alt {
  background-color: $bg-alt;
}

.navbar .nav-link {
  color: $text-light;

  &:hover {
    color: $color-brand;
  }
}
