@use "variables";
@use "base";
@use "components";
@use "layout";
@use "typography";

/* ================= BOOTSTRAP ================= */
/* Bootstrap MUST come AFTER variables */
@import "../node_modules/bootstrap/scss/bootstrap";
